#head {
    display: flex;
    flex-wrap: column;
    background: $prim;
    height: 8vh;
    font-family: $letrita;
    p{
      color: white;
    }
    &-titulo {
      color: #e4e4e4;
      font-size: 30px;
      padding-top: 10px;
      margin-left: 6%;
    }
    &-inf {
      font-size: 15px;
      padding-top: 10px;
      margin-left: 280px;
    }
  }